.splashscreen p {
    color: #2C2735;
    font-size: 1.75vw;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.splashscreen h1 {
    color: #2C2735;
    padding-top: 7vh;
    font-size: 4vw;
    font-weight: 300;
    font-family: Lato;
    letter-spacing: 0.1em;
}

.action-block {
    margin: 1vh;
    padding: 1vh;
    color: whitesmoke;
}

.action-block a {
    color: whitesmoke !important;
    margin: 3vh;
    padding: 2.5vh;
    font-size: 4vh;
    background-color: #2C2735;
    border-color: #2C2735;
    border-radius: 45px;
    border-width: 2px;
}

.action-block a:hover{
    color: #2C2735 !important;
    background: none;
    margin: 3vh;
    padding: 2.5vh;
    font-size: 4vh;
    border-color: #2C2735;
    border-radius: 45px;
}

.hero-image img {
    width: 70vh;
    margin: 0 4vw 0 4vw;
}

.hero-image p {
    margin: auto;
    font-size: 0.75vw;
    color: #2C2735;
}

.hero-image p a {
    color: #2C2735;
    text-decoration: none;
}