#pfp {
    margin: 1vh 1vw 1vh 1vw;
    border-radius: 100%;
    border-style: none;
    width: 10vw;
    height: 10vw;
}

.headshot {
    width: 13vw;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    border-color: white;
    border-style: outset;
    border-width: 2px;
}