body {
    width: 100%;
    height: 100%;
    font-family: Lato, Merriweather, monospace !important;
    background-color: #E6F4FF;
    overflow: hidden;
    overflow-y: auto !important;
}


.dropdown-item {
  color:#2C2735 !important;
}

.nav-link{
  color: white !important;
}

footer {
    width: 100%;
    bottom:0;
    background-color: none !important;
}

a {
  color: #2C2735;
}


nav {
    width: 100%;
    display: flex;
    font-size: 1.5vw;
    margin-bottom: auto;
}

.left-nav {
    margin-left: 1vw;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .mid-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-nav {
    margin-right: 1vw;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .fa-1x {
    font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
    cursor: pointer;
  }

  .empty-msg {
    font-size: 2.5vh;
    width: 80%;
    height: 15vh;
    background-color: rgba(44, 39, 53, 0.2);
    color:#2C2735;
    border-radius: 4vh;
    border-style: dashed;
    border-width: 4px;
    border-color: #2C2735;
}