{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
    <head>
        {% block title %}
            
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />

        <!--Bootstrap Basic Navabar: https://getbootstrap.com/docs/4.1/components/navbar/ -->
    <nav class="navbar navbar-expand-lg fixed-top justify-content-between text-center">
        <a class="navbar-brand navbar-left" id="logo" href="{% url 'index' %}"><img src="{% static 'assets/studbudlogo-wide-white.svg' %}" alt="Studdy Buddy" width="200"></a>
        <div class="navbar nav">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'course-finder' %}">Find a Class</a>
                   </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'about' %}">About Us</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'login' %}">Login</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light" href="{% url 'profile' user.id%}">Profile</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-light" href="{% url 'logout' %}">Logout</a>
                        </div>
                   </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    </head>

<body>
  {% block content%}
    <h1>Studdy Buddy</h1>
    <p>Welcome to the Studdy Buddy Site!</p>
  {% endblock %}
  <!--Boostrap Footer: https://mdbootstrap.com/docs/standard/navigation/footer/-->
  <footer class="bg-white text-center text-lg-start footer">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="https://github.com/uva-cs3240-s22/group-project-b-04">Group B-04</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>