{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
    <head>
        {% block title %}
            
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />

        <!--Bootstrap Basic Navabar: https://getbootstrap.com/docs/4.1/components/navbar/ -->
    <nav class="navbar navbar-expand-lg text-center d-flex">
        <div class="navbar nav left-nav ml-auto">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="navbar nav mid-nav mx-auto">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand mx-auto" id="logo" href="{% url 'index' %}"><img src="{% static 'assets/studbudlogo-wide-white.svg' %}" alt="Studdy Buddy" width="200"></a>
                </li>
            </ul>
        </div>
        <div class="navbar nav right-nav mr-auto">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' user.username %}">Dashboard</a>
                   </li>    
                   <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.username %}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendar'%}">Calendar</a>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    </head>

<body>
    <div class="position-fixed d-flex blob" width="100%" height="100%">
        <svg id="left-mid-blob" class="position-absolute h-50" viewBox="0 0 334 254" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M198.698 15.4818C178.409 4.2341 155.252 -0.499658 132.064 0.041468C109.198 0.575094 86.7416 6.65468 67.2011 18.5505C47.909 30.295 27.1797 45.2935 21.7163 67.2185C16.2963 88.9691 45.4924 109.458 39.1877 130.969C33.7979 149.358 15.4973 162.968 0 176.86V243.569C18.27 249.787 43.3931 249.821 61.7464 252.841C85.3781 256.73 108.388 249.881 132.064 246.274C152.312 243.189 171.003 237.491 191.017 233.144C220.192 226.807 252.868 232.195 277.117 214.769C304.878 194.819 339.75 164.535 333.197 130.969C326.144 94.8449 275.628 88.1248 247.713 64.1559C229.942 48.8965 219.182 26.8377 198.698 15.4818Z" fill="#578AEF"/>
        </svg>  
        <svg id="top-mid-blob" class="position-absolute w-25" viewBox="0 0 340 150" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M58.834 127.306C30.2145 112.119 3.24695 83.8224 0.599365 51.4988C-0.945801 32.6341 8.00372 15.7806 19.7382 0L305.713 0L305.748 0.0320435C322.082 14.8231 339.332 30.4442 339.983 51.4988C340.772 76.9864 313.154 93.3083 299.306 114.709C286.252 134.882 275.402 144.434 251.77 148.661C224.693 153.503 215.536 144.41 189.965 134.264C175.859 128.666 160.752 129.246 145.599 128.442C116.215 126.883 84.8342 141.102 58.834 127.306Z" fill="#578AEF"/>
        </svg>   
        <svg id="bottom-mid-blob" class="position-absolute w-25" viewBox="0 0 511 319" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M332.026 14.6719C293.628 8.90808 254.016 -8.84196 217.9 5.41588C183.379 19.0443 178.48 69.8418 146.142 88.0552C113.229 106.593 58.3423 76.7954 36.4756 107.598C15.488 137.162 63.9127 176.587 57.9101 212.344C51.1994 252.318 10.6267 281.731 0 318.876H501.919C490.535 284.379 466.179 248.64 466.227 212.344C466.303 155.32 534.383 95.2925 502.353 48.1145C469.29 -0.58519 390.236 23.4098 332.026 14.6719Z" fill="#578AEF"/>
        </svg>
        <svg id="right-mid-blob" class="position-absolute h-75" viewBox="0 0 116 434" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M40.8173 144.604C46.6934 201.227 -11.9674 253.255 3.03934 308.168C18.0762 363.191 61.1961 417.957 116 433.611L116 0.419081C98.4867 2.50764 88.4637 4.82805 66.3066 31.5386C28.6027 76.991 34.7215 85.8646 40.8173 144.604Z" fill="#578AEF"/>
        </svg>            
      </div>
  {% block content%}
    <h1>Studdy Buddy</h1>
    <p>Welcome to the Studdy Buddy Site!</p>
  {% endblock %}
  <!--Boostrap Footer: https://mdbootstrap.com/docs/standard/navigation/footer/-->
  <footer class="text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2022 Copyright:
      <a href="https://github.com/uva-cs3240-s22/group-project-b-04">Group B-04</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>