{% extends 'studysite/restricted/restrictedbase.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/editprofile.css' %}"/>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column" style="margin: 4vh 10vw 4vh 10vw;">
        
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center w-100">
        <div>
            <div class="d-flex flex-column align heading-text mb-2">
                <h1 class="page-title">Have a Question for Us?</h1>
                {% if error_message %}<p class="text-danger"><strong>{{ error_message }}</strong></p>{% endif %}
            </div>
            <div class="edit-form">
                
                <form method="POST" enctype="multipart/form-data" id="contact-us">
                    <p>Enter Your Information Here!</p>
                {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}