{% extends 'studysite/restricted/restrictedbase.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
    <title>Contact Us</title>
{% endblock %}

{% block content %}
    <div class="" style="margin: 4vh 4vw 4vh 4vw;">
        <form method="POST" enctype="multipart/form-data" id="contact-us">
            <p>Enter Your Information Here!</p>
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}