{% extends 'studysite/base.html' %}
{% load socialaccount %}

{% block title %}
    <title>Find a Class</title>
{% endblock %}

{% block content %}
    <div style="padding:20px;">
        {% if courses_list %}
            <ul class="list-group list-group-flush" >
            {% for course in courses_list %}
            <li class="list-group-item">{{ course.course_subject }} {{ course.course_number }}
            <input class="btn btn-primary" type="submit" value="+"></li>
            
            {% endfor %}
            </ul>
        {% endif %}
        </br>
          <h6><a href="{% url 'course-add' %}">Don't see your Class?</a></h6>
    </div>
{% endblock %}