{% extends 'studysite/base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
    
{% endblock %}

{% block content %}
  <div class="splashscreen" style="padding: 20px;">
    <h1>Study Buddy</h1>
    <p>Make friends, Study More, Stay Organized</p>
  </div>
  <div class="info-block" style="padding: 20px;">
    <h4>What is Study Buddy?</h4>
    <p>Study Buddy is a project designed to provide students with a more immersive and interactive study expeirence. We aimed to
      develop a web app that connects students with others in their courses in order to provide a network of resources, material, 
      and management. Sign up, Create a Profile with all you classes, and be matched with other students in the same courses to 
      study with. Create study parties for tests and exam, or even chill homework sessions. Study Buddy is here to help you be your best.
    </p>
  </div>
{% endblock %}

