{% extends 'studysite/base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/index.css' %}"/>
{% endblock %}

{% block content %}
  <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
    <div class="hero-image d-flex justify-content-end flex-column">
      <img src="{% static 'assets/home-img.png' %}" alt="vector art"/>
      <p>Illustration by <a href="https://icons8.com/illustrations/author/ZQDZn9ZZj5aQ">Violetta Barsuk</a> from <a href="https://icons8.com/illustrations">Ouch!</a></p>
    </div>
    <div class="splashscreen text-end">
      <h1>STUDY BUDDY</h1>
      <br/>
      <p>GOOD GRADES</p>
      <P>EVEN GREATER FRIENDS</P>
      <div class="action-block">
        <a class="btn btn-outline-light btn-lg" href="{% url 'login' %}">GET STARTED</a>
      </div>
    </div>
  </div>
{% endblock %}

