{% extends 'studysite/base.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
    <title>Events</title>
{% endblock %}

{% block content %} 
    <div  class="row d-flex justify-content-center text-center" style="margin-top: 20vh;">
        <h5>Don't See Any Events?</h5>
        <a class="btn" style="width: 10vw;" href="{% url 'create-event' %}"><strong>Create an Event</strong></a>
    </div>    
        {% if event_list %}
            {% for event in event_list %}
                {% csrf_token %}
            
            {% endfor %}
        {% endif %}
{% endblock %}