{% extends 'studysite/base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/login.css' %}"/>
{% endblock %}


{% block content %}
  <div class="login-box">
    <h1>Login</h1>
    {% if user.is_authenticated %}
      <p>Welcome, You are logged in as {{ user.username }}</p>
      <a href="{% url 'profile' user.id%}">Profile</a>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% provider_login_url 'google' %}">Login With Google</a>
    {% endif %}
  </div>
{% endblock %}