{% extends 'studysite/restricted/restrictedbase.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
    <title>Find a Buddy</title>
    <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/buddy.css' %}"/>
{% endblock %}
    <style>

    </style>

{% block content %} 
    <div class="d-flex justify-content-start align-items-start flex-column" style="margin: 5vh 10vw 5vh 10vw;">
        <div class="d-flex flex-column justify-content-start align-items-start">
            <h1 class="page-title">FIND BUDDIES</h1>
            {% if view.kwargs.friend_message != 'finding-buddies' %}
                <h5 class="mt-4" style="color: crimson;"><strong>{{ view.kwargs.friend_message }}</strong></h5>
            {% endif %}
        </div>
    </div>
    <div class="row row-cols-1 d-flex justify-content-center align-items-center" style="margin: 4vh 4vw 2vh 4vw;">
        {% for to_user in user_list %}
        {% if to_user != request.user  %}
            <form action="{% url 'send friend request' to_user.id %}" method="POST">
            {% csrf_token %}
            <div class="card mx-auto buddy-listing" style="width: 75vw;">
                <div class="card-body d-flex align-items-center justify-content-between" style="margin: 0.5vh 1.5vw 0.5vh 1.5vw;">
                    <div class="con1 d-flex">
                        {% if to_user.email == '' and to_user.userprofile.image == "default.jpg" %}
                            <img class="pfp" src="{% static 'assets/def.jpg' %}" alt="Pfp"/>
                        {% elif to_user.userprofile.image == "default.jpg" %}
                            <img img id="pfp" src="{{ to_user.socialaccount_set.all.0.get_avatar_url }}" alt="profile picture"/>
                        {% else %}
                            <img img id="pfp" src="{{ to_user.userprofile.image.url }}"/>
                    {% endif %}
                    </div>
                    <div class="con2 d-flex flex-column" style="width:72%;">
                        <h4 class="d-flex card-title">{{ to_user.first_name }} {{ to_user.last_name }}</h4>
                        <h6 class="d-flex card-text">{{ to_user.username }}</h6>
                        <p class="d-flex card-text"><strong class="profile-sec">Year:</strong> {{ to_user.userprofile.year }}</p>
                        <p class="d-flex card-text"><strong class="profile-sec">Major:</strong> {{ to_user.userprofile.major }}</p>
                        <p class="d-flex card-text"><strong class="profile-sec">Bio:</strong> {{ to_user.userprofile.bio }}</p>
                        <div class="d-flex flex-row">
                            <p><strong>Courses: </strong></p>
                            {% for course in to_user.course_set.all %}
                                <p class="courses card-text">{{ course.course_subject }} {{ course.course_number }},</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% if to_user in request.user.userprofile.friends.all %}
                        <div class="d-flex justify-content-end align-items-center" style="margin-left: 2vw;">  
                            <p>Friended</p>
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-end align-items-center" style="margin-left: 2vw;">  
                            <input class="friend-btn btn btn-outline-dark" type="submit" value="Add Friend" style="width: 5vw; white-space:normal; font-size: 1vw;"/>
                        </div>
                    {% endif %}
                </div>
            </div>
            </form>   
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}