{% extends 'studysite/restricted/restrictedbase.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
    <title>Add a Class</title>
    <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/courseadd.css' %}"/>
{% endblock %}

{% block content %}
    <div class="add-form" style="margin: 4vh 4vw 4vh 4vw;">
        <h3>Add a Class to the Directory</h3>
      </br>
        {% if error_message %}<p class="text-danger"><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'course-add' %}" method="POST" id="course-add-form">
            {% csrf_token %}
            <div class="form-group">
              <label>Course Subject: </label>
              <input name="course_subject" placeholder="i.e APMA, CS, ENGR..." />
            </div>
            <div class="form-group">
              <label>Course Number: </label>
              <input name="course_number" placeholder="i.e 2120, 3140..." />
            </div>
            <div class="form-group">
                <label>Course Name: </label>
                <input name="course_name" placeholder="i.e Theory of Computation..." />
              </div>
            <br>
            <input type="submit" class= "btn btn-primary" value="Submit Course">
          </form>
    </div>
{% endblock %}