{% extends 'studysite/restricted/restrictedbase.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/dashboard.css' %}"/>
{% endblock %}

{% block content %}
    <div class="friends-list">
        <div class="d-flex flex-row justify-content-between">
            <h6>Friends: </h6>
            <div class="">
                <a class="d-flex justify-content-start" href="{% url 'buddy-finder' 'finding-buddies' %}">Find A Buddy</a>
                <a class="d-flex justify-content-start" href="{% url 'buddy-messanger' %}">Message a Buddy</a>
            </div>
        </div>
        <ul class="list-group list-group-flush" >
            {% for friend in user.friends.all %}
                <li class="list-group-item">{{ friend.user.first_name }} {{ friend.user.last_name }} ({{friend.user.username}})</li>
            {% endfor %}
        </ul>
        </br>
    </div>
    <div class="course-list">
        <div class="d-flex flex-row justify-content-between">
            <h6>Courses: </h6>
            <a class="d-flex justify-content-start" href="{% url 'course-finder' 'all'%}">Add a Course</a>
        </div>
        <ul class="list-group list-group-flush" >
            {% for course in user.course_set.all %}
                <form action="{% url 'delete-course' user.id course.pk %}" method="POST" id="delete-course-user-form">
                    {% csrf_token %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p>{{ course.course_subject }} {{ course.course_number }}</p>
                        <input class="btn" type="submit" name="delete_course" value="delete"/>
                    </li>
                </form>
            {% endfor %}
        </ul>
    </br>
    </div>
    <div class="event-list">
        <div class="d-flex flex-row justify-content-between">
            <h6>Upcoming Study Event: </h6>
            <a class="d-flex justify-content-start" href="{% url 'event-finder' %}">See Event</a>
        </div>
        {% for event in user.studyevent_set.all %}
        <ul class="list-group list-group-flush" >
            <!--TODO: ADD STUDY EVENTS-->
            {% if event.time.timestamp > current_time %}
            <form action="{% url 'delete-course' user.id event.pk %}" method="POST" id="delete-event-user-form">
                    {% csrf_token %}
                <li class="list-group-item d-flex justify-content-between">
                    <p>{{event.course}}</p>
                    <p>{{event.time}}</p>
                    <input class="btn" type="submit" name="delete_event" value="delete"/>
                </li>
            </form>
            {% endif %}
        </ul>
        {% endfor %}
        
    </div>
{% endblock %}