{% extends 'studysite/restricted/restrictedbase.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
    <title>Message a Friend</title>
    <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/buddy.css' %}"/>
{% endblock %}

{% block content %} 
    <div class="row d-flex row-cols-2 justify-content-left align-items-center" style="margin: 5vh 4vw 5vh 4vw;">
        <h1 class="d-flex ml-0 page-title">SEND A MESSAGE</h1>
    </div>
    <div class="row row-cols-1 d-flex justify-content-center align-items-center" style="margin: 4vh 4vw 2vh 4vw;">
        {% for to_user in user_list %}
        {% if to_user in request.user.userprofile.friends.all %}
            <form action="{% url 'message-buddy' to_user.id %}" method="POST">
            {% csrf_token %}
            <div class="card mx-auto buddy-listing" style="width: 75vw;">
                <div class="card-body d-flex justify-content-between align-items-center" style="margin: 0.5vh 1.5vw 0.5vh 1.5vw;">
                    <div class="d-flex justify-content-start flex-column">
                        <h4 class="card-title">{{ to_user.first_name }} {{ to_user.last_name }}</h4>
                        <h6 class="card-text">{{ to_user.username }}</h6>
                    </div>

                    <div class="d-flex justify-content-end" style="margin-left: 1vw;"> 
                        <label style="margin-right: 1vw;">Message: </label>
                        <input style="margin-right: 1vw;" type="text" name="message" placeholder="Write a Message"/> 
                        <input class="friend-btn btn btn-outline-dark" type="submit" value="Send" style="margin-left: 0.5vw; width: 5vw; white-space:normal; font-size: 1vw;"/>
                    </div>
               
                </div>
            </div>
            </form>   
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}