{% extends 'studysite/restricted/restrictedbase.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/profile.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center w-100">
        <div class="left-content d-flex justify-content-center align-items-center">
            {% if user.userprofile.image == "default.jpg" %}
                <img class="headshot" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile picture"/>
                {% else %}
                <img class="headshot" src="{{ user.userprofile.image.url }}"/>
                {% endif %}
        </div>
        <div class="right-content d-flex flex-column justify-content-center">
            <div class="d-flex mb-5">
                <h1>{{ user.username }}</h1>
            </div>
            <div class="d-flex flex-row">
                <h5>Name: </h5>
                <p>{{ user.first_name }} {{ user.last_name }}<p>
            </div>
            <div class="d-flex flex-row">
                <h5>Email: </h5>
                <p>{{ user.email }}</p>
            </div>
            <div class="d-flex flex-row">
                <h5>Major: </h5>
                <p>{{ user.userprofile.major }}</p>
            </div>
            <div class="d-flex flex-row">
                <h5>Year: </h5>
                <p>{{ user.userprofile.year }}</p>
            </div>
            <div class="d-flex flex-row">
                <h5>Bio: </h5>
                <p>{{ user.userprofile.bio }}</p>
            </div>
            <a href="{% url 'notifications' %}"><h6>Notifications</h6></a>
            <a href="{% url 'edit_profile' user.username%}"><h6>Edit Profile</h6></a>
        </div>
            </div>
        </div>        
    </div>
{% endblock %}