{% extends 'studysite/restricted/restrictedbase.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/profile.css' %}"/>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row justify-content-between align-items-center" style="height:100%; margin: 6vh 6vw 6vh 6vw;">
        <div class="d-flex justify-content-right align-items-center position-absolute">
            <img class="headshot" src="{{ user.userprofile.image.url }}"/>
        </div>
            <div class="box-2 col-sm" >
        <div class="info-block text-dark">
            <h5>Name: </h5>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            <h5>Email: </h5>
            <p>{{ user.email }}</p>
             <h5>Username: </h5>
            <p>{{ user.username }}<p>
            <h5>Year: </h5>
            <p>{{ user.userprofile.year }}<p>
            <h5>Major: </h5>
            <p>{{ user.userprofile.major }}<p>
            <h5>Bio: </h5>
            <p>{{ user.userprofile.bio }}</p>
        </div>
            </div>
        </div>
        <a href="{% url 'notifications' %}"><h6>Notifications</h6></a>
        <a href="{% url 'edit_profile' user.username%}"><h6>Edit Profile</h6></a>
    </div>
{% endblock %}