{% extends 'studysite/restricted/restrictedbase.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/studyevents.css' %}"/>
{% endblock %}

{% block content %} 
    <div class="row d-flex row-cols-2 justify-content-around align-items-center" style="margin: 5vh 4vw 5vh 4vw;">
        <h1 class="d-flex justify-content-start page-title">STUDY EVENTS</h1>
        <a class="d-flex justify-content-end" href="{% url 'create-event' %}"><h5>Create New Event</h5></a>
    </div>
    <div class="row row-cols-4 d-flex justify-content-start align-items-center" style="margin: 2vh 4vw 2vh 4vw;">
        {% if event_list %}
            {% for event in event_list %}
                {% if event.course in user.course_set.all %}
                    <div class="col">
                        <form action="{% url 'event-add-user' event.pk user.pk %}" method="POST" id="event-add-user-form">
                            {% csrf_token %}
                            <div class="card event-card" style="height: 30vh;">
                                <div class="card-body d-flex justify-content-between align-items-center" style="padding: 1vh 1.5vw 1vh 1.5vw;">
                                    <div class="d-flex justify-content-start flex-column">
                                    <h6 class="card-title">{{event.course}}</h6>
                                    <p class="card-text">Host: {{event.owner}}</p>
                                    <p class="card-text">{{event.time}}</p>
                                    <p class="card-text">Info: {{event.description}}</p>
                                    <p class="card-text"><small>{{event.users.count}} / {{event.max_users}} Student(s)</small></p>
                                    <a href="{% url 'event-detail' event.pk %}">Event Detail</a>
                                    </div>
                                    {% if event not in user.events.all%}
                                    <div class="d-flex justify-content-end align-items-center" style="margin-left: 1vw;">  
                                        <input class="btn event-btn" type="submit" value="Join Event" style="width: 5vw; white-space:normal; font-size: 1vw;"/>
                                    </div>
                                    {% elif event.users.count >= event.max_users %}
                                    <div class="d-flex justify-content-end align-items-center" style="margin-left: 1vw;">  
                                        <p>Full</p>
                                    </div>
                                    {% else %}
                                    <div class="d-flex justify-content-end align-items-center" style="margin-left: 1vw;">  
                                        <p>Added</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>  
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </br>
    </div>
    <div class="d-flex justify-content-center">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showTitle=1&title=Study%20Buddy%20Events&src=Y19jdW1rdDlkZnJldXBvZGxrbTBrOXQ2cG1kMEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D81B60" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}