{% extends 'studysite/restricted/restrictedbase.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="{% static 'studysite/css/event.css' %}"/>
{% endblock %}

{% block content %} 
    
    <div class="d-flex flex-row justify-content-between align-items-center mt-5" style="margin: 0.5vh 8vw 0.5vh 8vw;">
            <h1 class="d-flex justify-content-left">STUDY EVENT</h1>
            <p style="font-size: 1.5vw;"><a class="d-flex justify-content-right" href="{% url 'event-finder' %}">Return to Event List</a></p>
        </div>
        <h3 class="ml-auto justify-content-start mt-5" style="margin: 0vh 8vw 2vh 8vw;">{{ studyevent.course }} by {{ studyevent.owner }}</h3>
    <div class="container w-100 d-flex flex-column justify-content-center align-items-center px-5">
        <div class="container-body px-5">
            <div class="d-flex justify-content-center flex-column ml-auto align-items-start">
                <p><strong>Description:</strong> {{ studyevent.description }}</p>
                <p><strong>Time & Date</strong>:</strong> {{ studyevent.time }}</p>
            <p><strong>Attendees: </strong></p>
            <div class="d-flex justify-content-start align-items-center">
                {% for user in participants %}
                <div class="card user-card mx-4">
                    <div class="card-body d-flex justify-content-center align-items-center px-1">
                        <div class="d-flex flex-row justify-content-around align-items-center" style="width:100%;">
                            {% if user.userprofile.image == "default.jpg" %}
                                <img img id="pfp" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile picture"/>
                            {% else %}
                                <img img id="pfp" src="{{ user.userprofile.image.url }}"/>
                            {% endif %}
                            <h5 class="card-text">{{ user.username }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center  mx-auto mt-5">
                <h6 class="mx-4" style="color:crimson;">You will be removed from this event's Attendees and returned to the Event List. You can rejoin events</h6>
            <form action="{% url 'delete-event' user.id studyevent.pk %}" method="POST" id="delete-event-user-form">
                {% csrf_token %}
                <div class="d-flex justify-content-end align-items-center mt-4" style="margin-left: 1vw;">  
                    <input class="btn btn-outline-dark delete-btn" type="submit" name="delete_event" value="delete"/>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}